* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background: #150e28;
}

/* layout */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 992px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 350px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
